.container {
  margin-top: 20px;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-rows: 1fr;
}
