.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  word-break: break-all;
}

.status {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;

  .statusActive {
    color: green;
  }

  .statusInactive {
    color: darkred;
  }
}
